<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DoubiLauncher_CSharp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DoubiLauncher_CSharp.Properties.Settings>
            <setting name="SettingVersion" serializeAs="String">
                <value>0.2</value>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomXms" serializeAs="String">
                <value>1024</value>
            </setting>
            <setting name="CustomXmx" serializeAs="String">
                <value>1024</value>
            </setting>
            <setting name="CustomJavaPath" serializeAs="String">
                <value>java.exe</value>
            </setting>
            <setting name="IsCustomJavaPath" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ClientVersion" serializeAs="String">
                <value />
            </setting>
            <setting name="updateUrl" serializeAs="String">
                <value>http://update.dreamerstudio.net:50003/update/DoubiLauncher/index.php</value>
            </setting>
            <setting name="noticeUrl" serializeAs="String">
                <value>http://update.dreamerstudio.net:50003/update/DoubiLauncher/notice.txt</value>
            </setting>
        </DoubiLauncher_CSharp.Properties.Settings>
    </userSettings>
</configuration>